
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Styles/DetalleLinea.css" rel="stylesheet" />
</head>

<div class="divDetalle">
    <table id="tableDetallada" class="table">
        <thead>
            <tr>
                <th colspan="5" id="LineasNumeros">PVC: Linea 1</th>
            </tr>
        </thead>
        <thead>
            <tr id="tableHeadInfo">
                <th># Tubos</th>
                <th>P. Neto Total</th>
                <th>P. Unitario Estandar</th>
                <th>% Sobrepeso</th>
                <th id="eficienciaTH">% Eficiencia</th>
            </tr>
        </thead>
        <tbody id="tableBodyDetalle" class="text-center">
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
        </tbody>
    </table>
    <table id="tableDetallada" class="table">
        <thead>
            <tr>
                <th colspan="5" id="LineasNumeros">PVC: Linea 2</th>
            </tr>
        </thead>
        <thead>
            <tr id="tableHeadInfo">
                <th># Tubos</th>
                <th>P. Neto Total</th>
                <th>P. Unitario Estandar</th>
                <th>% Sobrepeso</th>
                <th id="eficienciaTH">% Eficiencia</th>
            </tr>
        </thead>
        <tbody id="tableBodyDetalle" class="text-center">
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
        </tbody>
    </table>

    <table id="tableDetallada" class="table">
        <thead>
            <tr>
                <th colspan="5" id="LineasNumeros">PVC: Linea 3</th>
            </tr>
        </thead>
        <thead>
            <tr id="tableHeadInfo">
                <th># Tubos</th>
                <th>P. Neto Total</th>
                <th>P. Unitario Estandar</th>
                <th>% Sobrepeso</th>
                <th id="eficienciaTH">% Eficiencia</th>
            </tr>
        </thead>
        <tbody id="tableBodyDetalle" class="text-center">
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
        </tbody>
    </table>

    <table id="tableDetallada" class="table">
        <thead>
            <tr>
                <th colspan="5" id="LineasNumeros">PVC: Linea 4</th>
            </tr>
        </thead>
        <thead>
            <tr id="tableHeadInfo">
                <th># Tubos</th>
                <th>P. Neto Total</th>
                <th>P. Unitario Estandar</th>
                <th>% Sobrepeso</th>
                <th id="eficienciaTH">% Eficiencia</th>
            </tr>
        </thead>
        <tbody id="tableBodyDetalle" class="text-center">
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
        </tbody>
    </table>

    <table id="tableDetallada" class="table">
        <thead>
            <tr>
                <th colspan="5" id="LineasNumeros">PVC: Linea 5</th>
            </tr>
        </thead>
        <thead>
            <tr id="tableHeadInfo">
                <th># Tubos</th>
                <th>P. Neto Total</th>
                <th>P. Unitario Estandar</th>
                <th>% Sobrepeso</th>
                <th id="eficienciaTH">% Eficiencia</th>
            </tr>
        </thead>
        <tbody id="tableBodyDetalle" class="text-center">
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
            <tr>
                <td>21-02-2023</td>
                <td>09:57am</td>
                <td>Carlos PS</td>
                <td>3SNL99</td>
                <td id="tdEficienccia">1</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/DetalleLinea/DetalleLinea.js"></script>