thead {
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
}

    thead tr {
        box-shadow: 0 4px 2px -3px rgba(0,0,0,0.5);
        vertical-align: middle
    }

th {
    border: solid 1px #80808017;
    text-align: center !important;
    font-size: 15px;
    text-align: center;
    font-size: 15px;
    background-color: white !important;
    color: #075DA5;
}

#tableBodyFleje tr:nth-child(odd) {
    background-color: #8080801c
}


td {
    font-size: 15px
}

#tableBodyFleje tr {
    box-shadow: inset 0 5px 8px -7px rgba(0,0,0,0.5);
}